// Цвета
$black: #000;
$white: #fff;
$outline: #bdbdbd;
$gray: gray;
$primary: #5a9a5b;
$secondary: #ff6f40;
$headerOrange: #ce540e;

$tertiary: #e1f5fe;
$text-black: #1c1b1f;
$text-dim: #212121;
$text-bright: #616161;
$text-white: #fff;
// Шрифты
$font-family: "Quicksand", sans-serif;
$second-family: "Inter", sans-serif;
