@charset "UTF-8";
img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  text-decoration: none;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

input,
button {
  border: none;
  outline: none;
}

button {
  font-family: inherit;
}

.container {
  max-width: 1728px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@keyframes shadowPulse {
  0% {
    text-shadow: 0 0 5px rgba(233, 115, 0, 0);
  }
  50% {
    text-shadow: 0 0 15px rgba(233, 115, 0, 0.5);
  }
  100% {
    text-shadow: 0 0 5px rgb(233, 115, 0);
  }
}
.header {
  padding: 40px 244px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #ffffff;
}

.header__title {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 120%;
  letter-spacing: 0em;
  color: #000;
  margin-right: 304px;
}

.header__title--text {
  transition: 0.5s;
}

.header__title--text:hover {
  text-shadow: 0px 0px 20px #ce540e;
  color: #ff6f40;
  transition: 0.5s;
}

.header__title::before {
  content: "";
  display: inline-block;
  width: 74px;
  height: 74px;
  background-image: url(../images/header-logo.svg);
  margin-right: 4px;
  vertical-align: middle;
}

.header__list {
  display: flex;
  gap: 40px;
  margin-right: 40px;
}

.header__list--item {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #616161;
}

.header__button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  width: 110px;
  height: 56px;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  cursor: pointer;
}
.header__button .header__button--span {
  display: inline-block;
  transition: 0.3s;
}
.header__button:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
.header__button:hover .header__button--span {
  transition: 0.3s;
  transform: scale(1.3);
}

.header__buttons {
  display: flex;
  gap: 12px;
  margin-left: auto;
}

.header__button--first {
  border: 1px solid #ff6f40;
  background: transparent;
  transition: 0.3s;
  color: #ff6f40;
}

.header__button--second {
  background: #ff6f40;
  color: #fff;
  box-shadow: 0 2px 4px -1px rgba(33, 150, 243, 0.2);
  transition: 0.3s;
}

.organic {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.organic__title {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-size: 64px;
  line-height: 106%;
  letter-spacing: -0.01em;
  text-align: center;
  color: #1c1b1f;
  padding-bottom: 40px;
}

.organic__title--orange {
  font-weight: 700;
  color: #ff6f40;
  display: inline-block;
  animation: shadowPulse 1s infinite alternate;
}

.organic__info--text {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 133%;
  text-align: center;
  color: #616161;
}

.organic__info {
  margin-bottom: 100px;
}

.organic__buttons {
  display: flex;
  gap: 24px;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin-bottom: 100px;
}

.organic__button {
  border-radius: 8px;
  padding: 18px 36px;
  width: 212px;
  height: 56px;
  display: flex;
  justify-content: center;
  transition: 0.3s;
  align-items: center;
}
.organic__button .organic__button--span {
  display: inline-block;
  transition: 0.3s;
}
.organic__button:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.organic__button:hover .organic__button--span {
  transform: scale(1.3);
}

.organic__button--first {
  box-shadow: 0 2px 4px -1px rgba(33, 150, 243, 0.2);
  background-color: #5a9a5b;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
}

.organic__button--second {
  box-shadow: 0 2px 4px -1px rgba(33, 150, 243, 0.2);
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #1c1b1f;
}

.organic__photos {
  display: flex;
  gap: 20px;
}

.organic__img {
  border-radius: 48px;
  transition: 0.3s;
}
.organic__img:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: 0.3s;
}

.benefits {
  padding: 100px 244px;
  display: flex; /* текст слева, фото справа */
  justify-content: center; /* раздвигаем */
  align-items: flex-start; /* чтобы сверху совпадали */
  gap: 300px;
  background-color: #f6f9f6;
}

.benefits__texts {
  max-width: 604px;
}

.benefits__title {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 48px;
  line-height: 108%;
  color: #000;
  padding-bottom: 40px;
}

.benefits__title--orange {
  font-weight: 600;
  color: #ff6f40;
  display: inline-block;
  animation: shadowPulse 1s infinite alternate;
}

.benefits__subtitle {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 133%;
  color: #616161;
  padding-bottom: 60px;
}

.benefits__extra--title {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 133%;
  color: #000;
}

.benefits__extra--subtitle {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #616161;
}

.benefits__info {
  display: flex;
  gap: 32px;
}

.benefits__photo {
  display: flex;
  border-radius: 24px;
}

.benefits__photo--first {
  border-radius: 24px;
  width: 498px;
  height: 329px;
  display: block;
  position: relative;
  z-index: 1;
}

.benefits__photo--star::after {
  content: "";
  position: absolute;
  right: 150px;
  width: 70px;
  height: 70px;
  background-image: url(../images/benefits/stars.svg);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 3;
}

.benefits__photo--second {
  border-radius: 24px;
  width: 181px;
  height: 270px;
  position: absolute;
  top: 1650px;
  right: 150px;
  z-index: 2;
}

.towards {
  padding: 100px 244px;
}

.towards__title {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 48px;
  line-height: 108%;
  text-align: center;
  color: #000;
  margin-bottom: 60px;
}

.towards__title--orange {
  font-weight: 600;
  color: #ff6f40;
  display: inline-block;
  animation: shadowPulse 1s infinite alternate;
}

.towards__list--title {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 120%;
  color: #000;
}

.towards__list--subtitle {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 133%;
  color: #616161;
}

.towards__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 48px;
  -moz-column-gap: 32px;
       column-gap: 32px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.towards__list--item {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.towards__list--title {
  position: relative;
  padding-left: 90px;
}

.towards__list--item:nth-child(1) .towards__list--title::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 70px;
  height: 70px;
  background-image: url("../images/towards/icon-1.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.towards__list--item:nth-child(2) .towards__list--title::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 70px;
  height: 70px;
  background-image: url("../images/towards/icon-2.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.towards__list--item:nth-child(3) .towards__list--title::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 70px;
  height: 70px;
  background-image: url("../images/towards/icon-3.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.towards__list--item:nth-child(4) .towards__list--title::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 70px;
  height: 70px;
  background-image: url("../images/towards/icon-4.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.choose {
  background-color: #f6f9f6;
  padding: 100px 244px;
}

.choose__title {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 48px;
  line-height: 108%;
  color: #000;
  margin-bottom: 40px;
}

.choose__title--orange {
  font-weight: 600;
  color: #ff6f40;
  display: inline-block;
  animation: shadowPulse 1s infinite alternate;
}

.choose__subtitle {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 133%;
  color: #616161;
  margin-bottom: 60px;
}

.choose__items {
  display: flex;
  justify-content: space-between;
}

.choose__photo {
  width: 385px;
  height: 233px;
  border-radius: 24px;
  margin-bottom: 25px;
  transition: 0.3s;
}
.choose__photo:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: 0.3s;
}

.choose__title--info {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 133%;
  color: #000;
  margin-bottom: 12px;
}

.choose__subtitle--info {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #616161;
}

.journey {
  padding: 100px 244px;
}

.journey__info {
  display: flex;
  justify-content: space-between;
  padding-bottom: 60px;
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
}

.journey__title {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 48px;
  line-height: 108%;
  color: #000;
}

.journey__title--orange {
  font-weight: 600;
  color: #ff6f40;
  display: inline-block;
  animation: shadowPulse 1s infinite alternate;
}

.journey__info--notTitle {
  display: flex;
  flex-direction: column;
}

.journey__subtitle {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 133%;
  color: #616161;
  margin-bottom: 40px;
}

.journey__button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  padding: 18px 36px;
  width: 212px;
  height: 56px;
  box-shadow: 0 2px 4px -1px rgba(33, 150, 243, 0.2);
  background: #5a9a5b;
  transition: 0.3s;
}
.journey__button:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.journey__button:hover .journey__button--text {
  transform: scale(1.2);
  transition: 0.3s;
}

.journey__button--text {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
  transition: 0.3s;
}

.journey__cards {
  display: flex;
  justify-content: space-around;
  gap: 32px;
  max-width: 1240px;
  margin: 0 auto;
}

.journey__list {
  display: flex;
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.journey__list--item {
  position: relative;
  width: 392px;
  justify-content: space-between;
  height: 590px;
  border-radius: 24px;
  transition: 0.3s;
  overflow: hidden;
}
.journey__list--item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(180deg, rgba(18, 18, 18, 0) 0%, #121212 100%);
}
.journey__list--item:hover {
  transform: scale(1.05);
  transition: 0.3s;
  cursor: pointer;
}

.journey__item--img {
  border-radius: 24px;
  width: 392px;
  height: 590px;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.journey__item--title,
.journey__item--text {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: 24px;
  z-index: 5;
}

.journey__item--title {
  bottom: 84px;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  color: #fff;
}

.journey__item--text {
  bottom: 24px;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
}

.bowls {
  padding: 100px 244px;
}

.bowls__list {
  display: flex;
  gap: 32px;
  justify-content: space-between;
  align-items: stretch;
}

.bowls__main--info {
  display: flex;
  gap: 107px;
  justify-content: space-between;
  margin-bottom: 60px;
}

.bowls__info {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 206px;
}

.bowls__title {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 48px;
  line-height: 108%;
  color: #000;
  width: 391px;
  height: 53px;
}

.bowls__title--vector {
  display: inline-block;
}

.bowls__title--vector::after {
  content: "";
  display: block;
  width: 98px;
  height: 14px;
  background-image: url(../images/vector.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.bowls__subtitle {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 133%;
  color: #616161;
}

.bowls__button {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #5a9a5b;
  position: relative;
  display: inline-flex;
  background-color: inherit;
}
.bowls__button::after {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  margin-left: 12px;
  background-image: url("../images/arrow-right.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.bowls__cards {
  position: relative;
}

.bowls__button--gap {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.bowls__list--item {
  border: 1px solid #bdbdbd;
  border-radius: 24px;
  max-width: 286px;
  background: #fff;
}

.bowls__list--img {
  width: 286px;
  height: 178px;
  border-radius: 24px 24px 0px 0px;
}

.bowls__list--title {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: #000;
  height: 64px;
}

.bowls__price--info {
  display: flex;
}

.bowls__list--subtitle {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #616161;
}

.bowls__list--price {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-size: 30px;
  line-height: 120%;
  letter-spacing: 0em;
  color: #000;
  margin-right: 18px;
}

.bowls__list--order {
  border-radius: 4px;
  padding: 10px 16px;
  width: 147px;
  height: 40px;
  box-shadow: 0 2px 4px -1px rgba(33, 150, 243, 0.2);
  background: #ff6f40;
}

.bowls__order--text {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0em;
  color: #fff;
}

.bowls {
  padding-bottom: 100px;
  padding-left: 244px;
  padding-right: 244px;
}