img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  text-decoration: none;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

input,
button {
  border: none;
  outline: none;
}

button {
  font-family: inherit;
}

.container {
  max-width: 1728px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@keyframes shadowPulse {
  0% {
    text-shadow: 0 0 5px rgba(233, 115, 0, 0.3);
  }
  50% {
    text-shadow: 0 0 15px rgba(233, 115, 0, 0.6);
  }
  100% {
    text-shadow: 0 0 5px rgba(233, 115, 0, 0.6);
  }
}
.header {
  margin: 40px 244px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #ffffff;
}

.header__title {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 120%;
  letter-spacing: 0em;
  color: #000;
  margin-right: 304px;
}

.header__title--text {
  transition: 0.5s;
}

.header__title--text:hover {
  text-shadow: 0px 0px 20px #ce540e;
  color: #ff6f40;
  transition: 0.5s;
}

.header__title::before {
  content: "";
  display: inline-block;
  width: 74px;
  height: 74px;
  background-image: url(../images/header-logo.svg);
  margin-right: 4px;
  vertical-align: middle;
}

.header__list {
  display: flex;
  gap: 40px;
  margin-right: 40px;
}

.header__list--item {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #616161;
}

.header__button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  width: 110px;
  height: 56px;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  cursor: pointer;
}
.header__button .header__button--span {
  display: inline-block;
  transition: 0.3s;
}
.header__button:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
.header__button:hover .header__button--span {
  transition: 0.3s;
  transform: scale(1.3);
}

.header__buttons {
  display: flex;
  gap: 12px;
}

.header__button--first {
  border: 1px solid #ff6f40;
  background: transparent;
  transition: 0.3s;
  color: #ff6f40;
}

.header__button--second {
  background: #ff6f40;
  color: #fff;
  box-shadow: 0 2px 4px -1px rgba(33, 150, 243, 0.2);
  transition: 0.3s;
}

.organic {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.organic__title {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-size: 64px;
  line-height: 106%;
  letter-spacing: -0.01em;
  text-align: center;
  color: #1c1b1f;
  padding-bottom: 40px;
}

.organic__title--orange {
  font-weight: 700;
  color: #ff6f40;
  display: inline-block;
  animation: shadowPulse 1.5s infinite alternate;
}

.organic__info--text {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 133%;
  text-align: center;
  color: #616161;
}

.organic__info {
  margin-bottom: 100px;
}

.organic__buttons {
  display: flex;
  gap: 24px;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.organic__button {
  border-radius: 8px;
  padding: 18px 36px;
  width: 212px;
  height: 56px;
  display: flex;
  justify-content: center;
  transition: 0.3s;
  align-items: center;
}
.organic__button .organic__button--span {
  display: inline-block;
  transition: 0.3s;
}
.organic__button:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.organic__button:hover .organic__button--span {
  transform: scale(1.3);
}

.organic__button--first {
  box-shadow: 0 2px 4px -1px rgba(33, 150, 243, 0.2);
  background-color: #5a9a5b;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
}

.organic__button--second {
  box-shadow: 0 2px 4px -1px rgba(33, 150, 243, 0.2);
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #1c1b1f;
}