#joinModal {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: all 0.3s ease;
  display: flex;
}
#joinModal.show {
  opacity: 1;
  pointer-events: auto;
}
#joinModal .modal__content {
  background: #fff;
  padding: 3rem;
  border-radius: 12px;
  width: 90%;
  max-width: 500px;
  position: relative;
  text-align: center;
  color: #1c1b1f;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  transform: scale(0.9);
  transition: transform 0.3s ease;
}
#joinModal.show #joinModal .modal__content {
  transform: scale(1);
}
#joinModal .modal__content .modal__title {
  font-size: 3rem;
  color: #5a9a5b;
  margin-bottom: 1rem;
}
#joinModal .modal__content .modal__subtitle {
  font-size: 1.5rem;
  color: #212121;
  margin-bottom: 2rem;
}
#joinModal .modal__content .modal__form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
#joinModal .modal__content .modal__form .modal__input {
  padding: 1rem 1.25rem;
  border: 1px solid #bdbdbd;
  border-radius: 8px;
  font-size: 1.25rem;
  color: #1c1b1f;
  background-color: #f6f9f6;
}
#joinModal .modal__content .modal__form .modal__button {
  background-color: #ff6f40;
  color: #fff;
  padding: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.25rem;
  transition: all 0.3s;
}
#joinModal .modal__content .modal__form .modal__button:hover {
  background-color: #e65c30;
}
#joinModal .modal__close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2.5rem;
  color: #616161;
  cursor: pointer;
  transition: all 0.3s;
}
#joinModal .modal__close:hover {
  color: #5a9a5b;
}

#funAlert {
  position: fixed;
  top: -100px;
  right: 1rem;
  background-color: white;
  border: 2px solid #ff6f40;
  color: #ff6f40;
  padding: 1rem 1.5rem;
  border-radius: 8px;
  font-size: 1.25rem;
  font-weight: bold;
  pointer-events: none;
  transition: all 0.5s ease;
  z-index: 10000;
}
#funAlert.show {
  top: 7rem;
  pointer-events: auto;
}